<div class="container-fluid mt-3 mb-5">
   <div class="mb-3 text-ashdark clearfix">
      <h2 class="float-left title-head">Asset List</h2>
      <div class="float-right">
         <div class="d-inline-block mr-2">
            <button type="button" class="btn btn-small" (click)="openDialog('Add')">
               <i class="fas fa-plus f-16"></i>
            </button>
         </div>
      </div>
   </div>
   <div class="row mt-3">
      <div class="col-md-12">
         <div class="card-box bg-white display-inherit hei-100">
            <div class="mb-3 pl-3 pr-3 row">
               <div class="col-md-6 mt-2">
                  <span class="pos-ab-10"><i class="fas fa-search f-16 search-ash"></i></span><input type="text"
                     class="form-control form-border-none ml-3" placeholder="Search by ID, Name or Category" id="search"
                     (keyup)="applyFilter($event)">
               </div>
               <div class="col-md-6 mt-3">
                  <div class="text-right mr-2">
                     <div class="d-inline-block mr-3">
                        <span class="cursor-pointer">
                           <i class="fas fa-sort icon-blue"></i> <span class="text-darkcolor f-14 ">Sort</span>
                        </span>
                     </div>
                     <div class="dropdown d-inline-block mr-3">
                        <span class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                           <i class="fas fa-circle-notch icon-blue"></i> <span
                              class="text-darkcolor f-14 ">Status</span>
                        </span>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">Link 1</a>
                           <a class="dropdown-item" href="#">Link 2</a>
                           <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                     </div>
                     <div class="dropdown d-inline-block mr-3">
                        <span class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                           <i class="fas fa-filter icon-blue"></i> <span class="text-darkcolor f-14 ">Filter</span>
                        </span>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">Link 1</a>
                           <a class="dropdown-item" href="#">Link 2</a>
                           <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                     </div>
                     <div class="d-inline-block mr-3">
                        <span class="cursor-pointer">
                           <i class="fas fa-columns icon-blue"></i> <span class="text-darkcolor f-14 ">Column</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <section>
               <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                     <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                           <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                           </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                           <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                           </mat-checkbox>
                        </td>
                     </ng-container>
                     <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                     </ng-container>
                     <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                     </ng-container>

                     <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                     </ng-container>

                     <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Priority </th>
                        <td mat-cell *matCellDef="let element">
                           <div
                              [ngClass]="{'badge badge-critical': element.priority === 'Critical', 'badge badge-medium': element.priority === 'Medium', 'badge badge-high':element.priority === 'High', 'badge badge-low':element.priority === 'Low' }">{{element.priority}}</div>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                     </ng-container>

                     <ng-container matColumnDef="primaryContact">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Primary Contact </th>
                        <td mat-cell *matCellDef="let element"> {{element.primaryContact}} </td>
                     </ng-container>

                     <ng-container matColumnDef="secondaryContact">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Secondary Contact </th>
                        <td mat-cell *matCellDef="let element"> {{element.secondaryContact}} </td>
                     </ng-container>

                     <ng-container matColumnDef="assignedTo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Assigned </th>
                        <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
                     </ng-container>

                     <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                     </ng-container>

                     <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Status </th>
                        <td mat-cell *matCellDef="let element">
                           <span
                              [ngClass]="(element.status=='Active')?'dot-red dot-bg-active':'dot-red dot-bg-red'">{{element.status}}</span>

                        </td>
                     </ng-container>

                     <ng-container matColumnDef="associatedAlerts">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> No. of Alerts </th>
                        <td mat-cell *matCellDef="let element"> {{element.associatedAlerts}} </td>
                     </ng-container>

                     <ng-container matColumnDef="associatedIncidents">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> No. of Incidents </th>
                        <td mat-cell *matCellDef="let element"> {{element.associatedIncidents}} </td>
                     </ng-container>

                     <ng-container matColumnDef="options" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Options </th>
                        <td mat-cell *matCellDef="let element">
                           <i class="far fa-images icon-blue cursor-pointer mr-2" data-toggle="modal" data-target="#myModal" matTooltip="Image Preview" (click)="iconClick('imageSource')"></i>
                           <i class="fas fa-paperclip icon-blue cursor-pointer mr-2" matTooltip="Attachment"></i>
                           <i class="fas fa-edit icon-blue cursor-pointer" matTooltip="Edit Row" (click)="openDialog('Edit', element)"></i>
                        </td>

                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                     </tr>
                  </table>
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>
<image-view *ngIf="iconName === 'imageSource'" [imageControl]="'assetImage'"></image-view>