<div class="container-fluid mt-3 mb-5">
   <div class="mb-3 text-ashdark clearfix">
      <h2 class="float-left title-head">Incident List</h2>
      <div class="float-right" (click)="openDialog('Add')">
         <div class="d-inline-block mr-2">
            <button type="button" class="btn btn-small" data-toggle="modal" data-target="#myModal">
               <i class="fas fa-plus f-16"></i>
            </button>
         </div>
      </div>
   </div>
   <div class="row mt-3">
      <div class="col-md-12">
         <div class="card-box bg-white display-inherit hei-100">
            <div class="mb-3 pl-3 pr-3 row">
               <div class="col-md-6 mt-2">
                  <span class="pos-ab-10"><i class="fas fa-search f-16 search-ash"></i></span><input type="text"
                     class="form-control form-border-none ml-3" placeholder="Search by ID, Code or Category" id="search"
                     (keyup)="applyFilter($event)">
               </div>
               <div class="col-md-6 mt-3">
                  <div class="text-right mr-2">
                     <div class="d-inline-block mr-3">
                        <span class="cursor-pointer">
                           <i class="fas fa-sort icon-blue"></i> <span class="text-darkcolor f-14 ">Sort</span>
                        </span>
                     </div>
                     <div class="dropdown d-inline-block mr-3">
                        <span class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                           <i class="fas fa-circle-notch icon-blue"></i> <span
                              class="text-darkcolor f-14 ">Status</span>
                        </span>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">Link 1</a>
                           <a class="dropdown-item" href="#">Link 2</a>
                           <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                     </div>
                     <div class="dropdown d-inline-block mr-3">
                        <span class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                           <i class="fas fa-filter icon-blue"></i> <span class="text-darkcolor f-14 ">Filter</span>
                        </span>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">Link 1</a>
                           <a class="dropdown-item" href="#">Link 2</a>
                           <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                     </div>
                     <div class="d-inline-block mr-3">
                        <span class="cursor-pointer">
                           <i class="fas fa-columns icon-blue"></i> <span class="text-darkcolor f-14 ">Column</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <section>
               <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                     <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                           <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                           </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                           <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                           </mat-checkbox>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                     </ng-container>
                     <ng-container matColumnDef="desc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
                     </ng-container>

                     <ng-container matColumnDef="assetId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Asset Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.assetId}} </td>
                     </ng-container>

                     <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Priority </th>
                        <td mat-cell *matCellDef="let element"> <span [ngClass]="priorityStyle(element.priority)">
                              {{element.priority}} </span></td>
                     </ng-container>

                     <ng-container matColumnDef="severity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Severity </th>
                        <td mat-cell *matCellDef="let element">
                           <span [ngClass]="severityStyle(element.severity)">{{element.severity}}</span>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="associatedAlert">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Associated Alert
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.associatedAlert}} </td>
                     </ng-container>

                     <ng-container matColumnDef="slaBreach">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> SLA Breach </th>
                        <td mat-cell *matCellDef="let element"> <span [ngClass]="slaBreachStyle(element.slaBreach)">
                              {{element.slaBreach}}</span> </td>
                     </ng-container>
                     <ng-container matColumnDef="assignedTo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Assigned To </th>
                        <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
                     </ng-container>

                     <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                     </ng-container>

                     <ng-container matColumnDef="subCategory">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Sub Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.subCategory}} </td>
                     </ng-container>

                     <ng-container matColumnDef="creationTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Creation Time </th>
                        <td mat-cell *matCellDef="let element">
                           {{element.creationDate}} <i class="fas fa-clock clock-green"></i> {{element.creationTime}}
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                     </ng-container>
                     <ng-container matColumnDef="remark">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Remark </th>
                        <td mat-cell *matCellDef="let element">
                           <div class="form-group m-0">
                              <input type="text" class="form-control">
                           </div>
                        </td>
                     </ng-container>

                     <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-font"> Action </th>
                        <td mat-cell *matCellDef="let element">
                           <i class="fa fa-pencil icon-blue cursor-pointer mr-2" matTooltip="Create Virtual Room"></i>
                           <i class="far fa-images icon-blue cursor-pointer mr-2" data-toggle="modal" data-target="#myModal" matTooltip="Image Preview" (click)="iconClick('imageSource')"></i>
                           <i class="fas fa-paperclip icon-blue cursor-pointer mr-2" matTooltip="Attachment"></i>
                           <i class="fas fa-edit icon-blue cursor-pointer" matTooltip="Edit Row" (click)="openDialog('Edit', element)"></i>
                        </td>
                     </ng-container>

                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                     </tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>
<image-view *ngIf="iconName === 'imageSource'" [imageControl]="'incidentImage'"></image-view>