  table{
    width: 100%;
  }
  th {
    /* font-size: 15px; */
    font-weight: 600 !important;
  }
  table,
  th,
  td {
    border-collapse: collapse;
  }
  tr:hover {
    background-color: #E0E0E0;
  }
  th,
  td {
    padding: 12px 16px !important;
  }
  
  td:first-child {
    /* text-align: center; */
    width: 25px;
  }
  td:last-child {
    /* text-align: center; */
    width: 50px;
  }
  .btn-small{
    border-width: 0;
    line-height: 1.538;
    padding: 9px 15px !important;
    border-radius: 0;
    transition: none;
    min-height: 40px !important;
    background: #131432 !important;
    color: #fff !important;
    border-radius: 4px !important;
}

.title-head-ash{
    color: #8d8e91;
  }

.mat-row,
.mat-header-row {
    display: table-row;
}
.mat-table {
  overflow-x: scroll;
}

.even{
  background: #f9f9f9;
}

.nowarp{
  white-space: nowrap;
}

.form-control{
  height: 32px !important;
}

.mat-cell,
.mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
width: 100%;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
font-size: 12px;
}

.dot-red::before{
  content: "";
  width: 8px;
  display: inline-block;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}

.dot-bg-active::before{
background: #1d980a;
}

.dot-bg-red::before{
background: #dd5043;
}
.dot-bg-med::before{
background: #ff7200;
}
.dot-bg-low::before{
background: #f3bc06;
}

.badge-critical{
  font-size: 13px !important;
  background: #8b0000;
  color: #fff !important;
  padding: 0.35em 0.4em !important;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
.badge-medium{
  font-size: 13px !important;
  background: #ffc893;
  color: #ff7200 !important;
  padding: 0.35em 0.4em !important;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
.badge-high{
  font-size: 13px !important;
  background: #f83030;
  color: #fff !important;
  padding: 0.35em 0.4em !important;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
.badge-low{
  font-size: 13px !important;
  background: #c8ce16;
  color: #333 !important;
  padding: 0.35em 0.4em !important;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}

.text-red{
  color: #ff075c;
}
.text-green{
  color: #59ac12;
}

.clock-green{
  color: #51c8ac;
}

.form-border-none{
  border: none;
}

.search-ash{
  color: #898991;
}

.pos-b-3{
  position: relative;
  bottom: 30px;
}

.pos-ab-10{
  position: absolute;
  top:10px;
}

.card-box{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

/*checkbox-green*/
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #131432;
  border-color: #131432;
}
.chiller_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  position: absolute;
  border-radius: 4px;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-50deg);
    top: .8rem;
    left: 0.33rem;
}
.chiller_cb span:after {
     transform: rotate(35deg);
    bottom: 0.30rem;
    left: .10rem;
}
/*checkbox-green*/
