      <!-- az-header -->
      <div class="container-fluid mt-3 mb-5">
      	<div class="row">
      		<div class="col-md-4">
      			<div class="bg-dark p-2 card-box" style="height: 125vh;">
      				<div class="row">
      					<div class="col-md-10">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Incident ID</label>
                             <p class="m-0 f-w-600">INC0009</p>
                           </div>
      					</div>
      					<div class="col-md-2">
      						<div class="form-group">
                              <i class="fas fa-edit f-16 text-green-color"></i>
                           </div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-md-12">
      						<div class="form-group text-white">
                              <label class=" title-head-ash f-12">Description</label>
                             <p class="m-0 f-w-600">Unauthorised access detected</p>
                           </div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-md-3">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Status</label>
                             <p class="m-0 f-w-600">Open</p>
                           </div>
      					</div>
      					<div class="col-md-3">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Priority</label>
                             <p class="m-0 f-w-600 dot-red dot-bg-red">Critical</p>
                           </div>
      					</div>
      					<div class="col-md-3">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Asset Id</label>
                             <p class="m-0 f-w-600">BMM1</p>
                           </div>
      					</div>
      					<div class="col-md-3">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Severity</label>
                             <p class="m-0 f-w-600 badge badge-critical">Critical</p>
                           </div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-md-6">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Reported by</label>
                             <p class="m-0 f-w-600">John Van Wyck</p>
                           </div>
      					</div>
      					<div class="col-md-6">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Assigned to</label>
                             <p class="m-0 f-w-600">Tim Brown</p>
                           </div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-md-6">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Create Date</label>
                             <p class="m-0 f-w-600"><i class="far fa-calendar-alt clock-green"></i> <span>20-01-2021 </span><i class="fas fa-clock clock-green"></i><span> 12:00</span><span class="f-w-600"> PM</span></p>
                           </div>
      					</div>
      					<div class="col-md-6">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Close Date</label>
                             <p class="m-0 f-w-600"><i class="far fa-calendar-alt clock-green"></i> <span>20-01-2021 </span><i class="fas fa-clock clock-green"></i><span> 12:00</span><span class="f-w-600"> PM</span></p>
                           </div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-md-4">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Duration</label>
                             <p class="m-0 f-w-600"><i class="fas fa-clock clock-green"></i><span> 1h 50mm</span></p>
                           </div>
      					</div>
      					<div class="col-md-4">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">SOP</label>
                             <p class="m-0 f-w-600"><i class="fas fa-clipboard clock-green"></i> Note</p>
                           </div>
      					</div>
      					<div class="col-md-4">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Associated Alert</label>
                             <p class="m-0 f-w-600">2</p>
                           </div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-md-6">
      						<div class="form-group text-white">
                              <label class="title-head-ash f-12">Attachment</label>
                             <p class="m-0 f-w-600"><i class="fas fa-paperclip clock-green"></i><span> Document 1</span></p>
                           </div>
      					</div>
      				</div>
      				<div class="row justify-content-end">
      					<div class="col-md-5">
      						<button type="button" class="btn btn-small">Joint Virtual Room</button>
      					</div>
      				</div>
      				<div>
      					 <label class="f-w-600 title-head-ash f-16 text-white">Activity</label>
      				</div>
      				<div>

  <ul class="nav nav-tabs vech-tabs nav-justified" role="tablist">
                           <li class="nav-item">
                              <a class="nav-link f-w-600" data-toggle="tab" href="#comments">Comments</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active f-w-600" data-toggle="tab" href="#history">History</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link f-w-600" data-toggle="tab" href="#log">Log</a>
                           </li>
                        </ul>

  <div class="tab-content mt-3">
    <div id="comments" class="tab-pane fade ">
      <h3 class="text-white">comments</h3>
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="history" class="tab-pane fade in show active">
      <div class="media">
  <p class="user-name-green">TB</p>
  <div class="media-body ml-2 mt-2">
    <h6 class="text-white">Tim Brown Created issue - john Van Wyck</h6>
    <p class="m-0 text-white">15-02-2021,10:37 PM</p>
  </div>
</div>
 <div class="media mt-2">
  <p class="user-name-blue">RM</p>
  <div class="media-body ml-2 mt-2">
    <h6 class="text-white">Tim Brown Created issue - john Van Wyck</h6>
    <p class="m-0 text-white">15-02-2021,10:37 PM</p>
  </div>
</div>
 <div class="media mt-2">
  <p class="user-name-green">TB</p>
  <div class="media-body ml-2 mt-2">
    <h6 class="text-white">Tim Brown Created issue - john Van Wyck</h6>
    <p class="m-0 text-white">15-02-2021,10:37 PM</p>
  </div>
</div>
    </div>
    <div id="log" class="tab-pane fade">
      <h3 class="text-white">Tag</h3>
      <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>
      				</div>
      		</div>
      		<div class="col-md-8">
               <div style="height: 125vh;">
      			<div class="card-box bg-white p-2">
      				<h4>Incident Location Map</h4>
      				<p><i class="fas fa-map-marker-alt"></i> Nagpur, Maharashtra, india</p>
      				<div>
      					<img src="../../../../assets/image/map_chat.jpg" alt="map" width="100%" height="260px">
      				</div>
      			</div>

      			<div class="card-box bg-white p-2 mt-3">
      				 <div class="row p-2 border-bottom">
                                       <div class="col-md-8 ">
                                         <h4>Virtual Room</h4>
      									<p class="f-w-600 m-0">VR-ID0009</p>
                                       </div>
                                       <div class="col-md-4 p-2 text-right">		 
                                          <button type="button" class="btn btn-cmd mr-2" data-toggle="tooltip" data-placement="top" title="message">
                                          <i class="far fa-comments cmd-icon"></i>
                                          </button>
                                           <button type="button" class="btn btn-vol mr-2" data-toggle="tooltip" data-placement="top" title="video">
                                          <i class="fas fa-video cmd-icon"></i>
                                          </button>
                                           <button type="button" class="btn btn-vol" data-toggle="tooltip" data-placement="top" title="Volume">
                                        <i class="fas fa-volume-up cmd-icon"></i>
                                          </button>
                                       </div>
                                    </div>
      			<div class="row">
                              <div class="col-md-4">
                                 <div class="p-1">
                                   
                                    <div class=" mt-1">
                                       <div class="">
                                          <div class="clearfix mt-2">
                                             <span class=" f-16">Participants (4)</span>
                                          </div>
                                          <div id="saleDept" class="mt-2 mb-2">
                                             <div class="">
                                                <div class="chat_list active_chat">
                                                   <div class="clearfix">
                                                      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" style="width: 35px;"> </div>
                                                      <div class="chat_ib">
                                                         <h6>Ram <span class="chat_time">11:15</span></h6>
                                                         <p>typing...</p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="chat_list">
                                                   <div class="clearfix">
                                                      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" style="width: 35px;"> </div>
                                                      <div class="chat_ib">
                                                         <h6>Kate Jonson <span class="chat_time">11:15</span></h6>
                                                         <p>I will sent the document...</p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="chat_list ">
                                                   <div class="clearfix">
                                                      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" style="width: 35px;"> </div>
                                                      <div class="chat_ib">
                                                         <h6>Tamara Shevchenko <span class="chat_time">10:01</span></h6>
                                                         <p>are you going to a bussi...</p>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="chat_list">
                                                   <div class="clearfix">
                                                      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" style="width: 35px;"> </div>
                                                      <div class="chat_ib">
                                                         <h6>Joshua clarkson <span class="chat_time">11:01</span></h6>
                                                         <p>I suggest to start, i ha...</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-8">
                                 <div class="mesgs bg-chat p-2">
                                    <div class="msg_history relative">
                                       <div style="position: absolute;bottom: .5rem">
                                          <div class="incoming_msg relative">
                                             <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" style="width: 35px; position: absolute;bottom: 0" alt="sunil"> </div>
                                             <div class="received_msg">
                                                <div class="received_withd_msg relative">
                                                   <span class="time_date"> Ram, Mon 12:25am</span>
                                                   <p class="text box-shadow">Today we will work till 5pm Don’t forget</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="type_msg mb-2">
                                       <div class="input_msg_write">
                                          <input type="text" class="write_msg" placeholder="Write your message...." />
                                          <button class="msg_send_btn" type="button"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           </div>
                        </div>
















      		</div>
      	</div>
      </div>
         
      <div class="footer p-2 card-box">
      	<div class="text-right f-16">
      		Version : 1.0
      	</div>
      </div>
      <script type="text/javascript" src="../js/app.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <script src="../lib/ionicons/ionicons.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
      <script src="../css/bootstrap/js/bootstrap.min.js"></script>
      <script src="../js/azia.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>
